{% trans_default_domain 'FOSUserBundle' %}



<div class="x_content">
    <br>
    <div class="col-md-offset-2">
        <div class="row">
            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                <strong>
                    Nom
                </strong>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p >{{ app.user.username }}</p>
            </div>
        </div>
        <div class="row">
            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                <strong>
                    Prénom
                </strong>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p >{% if app.user.prenomUser != "" %}{{ app.user.prenomUser }}
                    {% else %}
                        Aucun prénom
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                <strong>
                    Entités d'appartenance
                </strong>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {% for entity in app.user.entites %}
                    <p >-{{ entity.libelleEntite }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                <strong>
                    Contact
                </strong>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p >
                    {% if app.user.contactAgent != "" %}
                        {{ app.user.contactAgent }}
                    {% else %}
                        Aucun contact
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                <strong>
                    Email
                </strong>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p >{{ app.user.email }}</p>
            </div>
        </div>
        <div class="row">
            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                <strong>
                    Adresse
                </strong>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p >
                    {% if app.user.adresseAgent != "" %}
                        {{ app.user.adresseAgent }}
                    {% else %}
                        Aucune adresse
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                <strong>
                    Fonction
                </strong>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p >
                    {% if app.user.fonctionUser != "" %}
                        {{ app.user.fonctionUser }}
                    {% else %}
                        Aucune fonction
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                <strong>
                    Service
                </strong>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p >
                    {% if app.user.serviceUser != "" %}
                        {{ app.user.serviceUser }}
                    {% else %}
                        Aucun service
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                <strong>
                    Direction
                </strong>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p >
                    {% if app.user.directionUser != "" %}
                        {{ app.user.directionUser }}
                    {% else %}
                        Aucune direction
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <a href="{{path('fos_user_change_password')}}" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Modifier mot de passe</a>
                {% if app.user.statusUser == false and not app.security.isGranted('ROLE_ADMIN') %}
                    <a href="{{path('projet_checkUser')}}" class="btn btn-primary">Passer au suivante</a>
                {% endif %}
            </div>
        </div>
        <hr>

    </div>
</div>
