{% extends "UserBundle::layout.html.twig"%}
{% block title %} {{parent()}} Utilisateurs {% endblock %}
{% block content %}
    <div>
        <div class="page-title">
            <div class="title_left">
                <h3>Utilisateurs</h3>
                <ol class="breadcrumb">
                    <li><a href="#">Acceuil</a></li>
                    <li><a href="{{ path('user_admin_homepage') }}">Utilisateurs</a></li>
                    <li class="active">Détails </li>
                </ol>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Détails conçernant l'utilisateur</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br>
                        <div class="col-md-offset-2">
                            <div class="row">
                                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                    <strong>
                                        Nom
                                    </strong>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <p >{{ agent.username }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                    <strong>
                                        Prénom
                                    </strong>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <p >{% if agent.prenomUser != "" %}{{ agent.prenomUser }}
                                        {% else %}
                                            Aucun prénom
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                    <strong>
                                        Entités d'appartenance
                                    </strong>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {% for entity in agent.entites %}
                                    <p >-{{ entity.libelleEntite }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                    <strong>
                                        Contact
                                    </strong>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <p >
                                        {% if agent.contactAgent != "" %}
                                            {{ agent.contactAgent }}
                                        {% else %}
                                            Aucun contact
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                    <strong>
                                        Email
                                    </strong>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <p >{{ agent.email }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                    <strong>
                                        Adresse
                                    </strong>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <p >
                                        {% if agent.adresseAgent != "" %}
                                            {{ agent.adresseAgent }}
                                        {% else %}
                                            Aucune adresse
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                    <strong>
                                        Fonction
                                    </strong>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <p >
                                        {% if agent.fonctionUser != "" %}
                                            {{ agent.fonctionUser }}
                                        {% else %}
                                            Aucune fonction
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                    <strong>
                                        Service
                                    </strong>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <p >
                                        {% if agent.serviceUser != "" %}
                                            {{ agent.serviceUser }}
                                        {% else %}
                                            Aucun service
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                    <strong>
                                        Direction
                                    </strong>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <p >
                                        {% if agent.directionUser != "" %}
                                            {{ agent.directionUser }}
                                        {% else %}
                                            Aucune direction
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <a href="{{ path('user_admin_homepage') }}">
                                    <button type="button" class="btn btn-success">Retour</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
