{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    <div class="item form-group">
        <div class="control-label col-md-3 col-sm-3 col-xs-12">
            {{ form_label(form.current_password,"Mot de passe actuel") }}
        </div>
        <div class="col-sm-3">
            {{ form_widget(form.current_password,{ 'attr' : {'class':'form-control col-md-7 col-xs-12'} })}}
        </div>
        <ul class="parsley-errors-list filled">
            <li class="parsley-required">
                {{ form_errors(form.current_password)}}
            </li>
        </ul>
    </div>
    <br>
    <br>
    <div class="item form-group">
        <div class="control-label col-md-3 col-sm-3 col-xs-12">
            {{ form_label(form.new.first,"Nouveau mot de passe") }}
        </div>
        <div class="col-sm-3">
            {{ form_widget(form.new.first,{ 'attr' : {'class':'form-control col-md-7 col-xs-12'} })}}
        </div>
        <ul class="parsley-errors-list filled">
            <li class="parsley-required">
                {{ form_errors(form.new.first)}}
            </li>
        </ul>
    </div>
    <br>
    <br>
    <div class="item form-group">
            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                {{ form_label(form.new.second,"Validation du mot de passe") }}
            </div>
            <div class="col-sm-3">
                {{ form_widget(form.new.second,{ 'attr' : {'class':'form-control col-md-7 col-xs-12' } })}}
            </div>
            <ul class="parsley-errors-list filled">
                <li class="parsley-required">
                    {{ form_errors(form.new.second)}}
                </li>
            </ul>
    </div>
    <br>
    <br>
    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
            <input type="submit" class="btn btn-success" value="Valider la modification" />
        </div>
    </div>
{{ form_end(form) }}
