{% extends "UserBundle::layout.html.twig" %}

{% block title %}{{parent()}} Profile {% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
        <div class="page-title">
            <div class="title_left">
                <h3>{{app.user}}</h3>
                <ol class="breadcrumb">
                    <li><a href="">Acceuil</a></li>
                    <li><a href="#">Profile</a></li>
                    <li class="active"><a href="">Modifier mot de passe</a></li>
                </ol>
            </div>
        </div>   
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="x_title">
                        <h2>Changer le mot de passe</h2>
                        <div class="clearfix"></div>
                    </div>
                        {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}

                </div>
            </div>
        </div>
    </div>
          
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="{{asset('vendors/validator/validator.js')}}"></script>
    <script>
        $('form')
                .on('blur', 'input[required], input.optional, select.required', validator.checkField)
                .on('change', 'select.required', validator.checkField)
                .on('keypress', 'input[required][pattern]', validator.keypress);

        $('.multi.required').on('keyup blur', 'input', function() {
            validator.checkField.apply($(this).siblings().last()[0]);
        });
        $('form').submit(function(e) {
            e.preventDefault();
            var submit = true;
            //if(validator.validate('hello',[is]))
            // evaluate the form using generic validating
            if (!validator.checkAll($(this))) {

                submit = false;
            }

            if (submit)
                this.submit();

            return false;
        });
    </script>

    <script src="{{asset('vendors/select2/dist/js/select2.full.min.js')}}"></script>
    <script>
        $(document).ready(function() {
            $(".select2_single").select2({
                placeholder: "Select a state",
                allowClear: true
            });
            $(".select2_group").select2({});
            $(".select2_multiple").select2({
                maximumSelectionLength: 10,
                placeholder: "Enités",
                allowClear: true
            });
        });
    </script>
{% endblock %}