{% extends "UserBundle::layout.html.twig"%}
{% block title %}{{ parent() }} Groupes{% endblock %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/dataTables.bootstrap.min.css')}}">
{% endblock %}
{% block content %}
        <div class="page-title">
            <div class="title_left">
                <h3>Types</h3>
                <ol class="breadcrumb">
                    <li><a href="">Acceuil</a></li>
                    <li><a >Admnistration</a></li>
                    <li><a href="{{ path('type_indicateur_liste') }}">Types d'indicateur</a></li>
                    <li class="active">Liste des types</li>
                </ol>
            </div>
        </div>
<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">
                <a href="{{ path('type_indicateur_ajouter') }}">
                    <button class="btn btn-primary pull-right" id="ajouterGroup">Ajouter un type</button>
                </a>
                <div class=" x_panel">
                    <div class="col-sm-12">
                        <table id="typeTable" class="table table-responsive table-striped jambo_table bulk_action dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Désignation du type</th>
                                <th style="width:10%;">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for type in types %}
                                <tr>
                                    <td>{{ type.id }}</td>
                                    <td>{{ type.libelleType }}</td>
                                    <td >
                                        <div class="btn-group">
                                            <a href="{{ path('type_indicateur_modifier',{'id' : type.id }) }}">
                                                <button type="button" data-toggle="tooltip" title data-original-title="Modifier" class="btn btn-default btn-sm" aria-label="Center Align">
                                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                                </button>
                                            </a>
                                            <a >
                                                <button type="button" data-toggle="tooltip" title data-original-title="Supprimer" class="btn btn-danger btn-sm delete-btn" aria-label="Justify" data-toggle="modal" data-target="#modal{{ type.id }}">
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                </button>
                                            </a>
                                        </div>
                                        <!-- -->
                                        <div class="modal fade bs-example-modal-sm" data-id="" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                                        </button>
                                                        <h4 class="modal-title" id="myModalLabel2">Suppression</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h4>
                                                            <p>Voulez-vous vraiment supprimer?</p>
                                                        </h4>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <form action="{{ path('type_indicateur_supprimer') }}" method="post">
                                                            <input type="hidden" id="idType" name="idType" value="">
                                                            <button type="submit" id="modalSuppr" class="btn btn-danger">Supprimer</button>
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- -->
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Désignation du type</th>
                                <th style="width:10%;">Actions</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{asset('js/dataTables.bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/datatables.min.js')}}"></script>  
    <script type="text/javascript" src="{{asset('js/bootstrap_dropdown_6.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/lang.js')}}"></script>
    <script>
        var table = $('#typeTable').DataTable({
            language : lang
        });
        $(function(){

            $('.delete-btn').on('click',function(){
                var _this = $(this);
                var _parent = $(_this).parents()[3];
                var node = $($(_parent).children()[0]);
                console.log($(node).text());
                $('#idType').val($(node).text());
                $('#modalDelete').modal('toggle');
            });
        });
    </script>
{% endblock %}
